body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../用户-软件设置_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../用户-软件设置_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../用户-软件设置_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u5_normal {
    background-image: url('../用户-软件设置_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:497px;
    top:511px;
    width:177px;
    height:42px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:48px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:173px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:508px;
    top:30px;
    width:127px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../用户-软件设置_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:813px;
    height:3px;
}

.u8 {
    position:absolute;
    left:200px;
    top:124px;
    width:813px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../用户-软件设置_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:423px;
    top:212px;
    width:345px;
    height:45px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u10 {
    position:absolute;
    left:2px;
    top:15px;
    width:341px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../用户-软件设置_files/u9_normal.png');
}

.u11_container {
    position:absolute;
    left:423px;
    top:279px;
    width:345px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:15px;
    width:341px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../用户-软件设置_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:423px;
    top:345px;
    width:345px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:15px;
    width:341px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../用户-软件设置_files/u9_normal.png');
}

.u15_container {
    position:absolute;
    left:423px;
    top:412px;
    width:345px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:15px;
    width:341px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../用户-软件设置_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:233px;
    top:90px;
    width:145px;
    height:38px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../用户-软件设置_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:378px;
    top:90px;
    width:145px;
    height:38px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../用户-软件设置_files/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:523px;
    top:90px;
    width:145px;
    height:38px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../用户-软件设置_files/u19_normal.png');
}

.u23_container {
    position:absolute;
    left:668px;
    top:90px;
    width:145px;
    height:38px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u24 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../用户-软件设置_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:813px;
    top:90px;
    width:145px;
    height:38px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u26 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../用户-软件设置_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:221px;
    top:27px;
    width:31px;
    height:31px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u28 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:262px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:350px;
    top:591px;
    width:443px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../用户-软件设置_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u32 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

