body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../语言的选择页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../语言的选择页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:550px;
    top:28px;
    width:92px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../语言的选择页面_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u6 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../语言的选择页面_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u8 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../语言的选择页面_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u10 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../语言的选择页面_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u12 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../语言的选择页面_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u14 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../语言的选择页面_files/u5_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:290px;
    width:180px;
    height:56px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u16 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../语言的选择页面_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u17 {
    position:absolute;
    left:190px;
    top:60px;
    width:844px;
    height:10px;
    
}

.u18_normal {
    background-image: url('../语言的选择页面_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:448px;
    top:129px;
    width:307px;
    height:105px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:313px;
    height:111px;
}

.u19 {
    position:absolute;
    left:2px;
    top:42px;
    width:303px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../语言的选择页面_files/u18_normal.png');
}

.u20_container {
    position:absolute;
    left:448px;
    top:254px;
    width:307px;
    height:105px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:313px;
    height:111px;
}

.u21 {
    position:absolute;
    left:2px;
    top:42px;
    width:303px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../语言的选择页面_files/u18_normal.png');
}

.u22_container {
    position:absolute;
    left:448px;
    top:381px;
    width:307px;
    height:105px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:313px;
    height:111px;
}

.u23 {
    position:absolute;
    left:2px;
    top:42px;
    width:303px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../语言的选择页面_files/u5_normal.png');
}

.u24_container {
    position:absolute;
    left:10px;
    top:346px;
    width:180px;
    height:56px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u25 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../语言的选择页面_files/u5_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:402px;
    width:180px;
    height:56px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u27 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

