body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../卡片-释义动画_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../卡片-释义动画_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../卡片-释义动画_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:111px;
    width:844px;
    height:10px;
    
}

.u5 {
    position:absolute;
    left:566px;
    top:30px;
    width:92px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../卡片-释义动画_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u6 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u7_normal {
    background-image: url('../卡片-释义动画_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:469px;
    top:241px;
    width:286px;
    height:49px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:55px;
}

.u8 {
    position:absolute;
    left:2px;
    top:14px;
    width:282px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:387px;
    top:178px;
    width:150px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../卡片-释义动画_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:516px;
    top:598px;
    width:191px;
    height:43px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:49px;
}

.u11 {
    position:absolute;
    left:2px;
    top:14px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:339px;
    top:251px;
    width:150px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../卡片-释义动画_files/u7_normal.png');
}

.u13_container {
    position:absolute;
    left:469px;
    top:316px;
    width:286px;
    height:49px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:55px;
}

.u14 {
    position:absolute;
    left:2px;
    top:14px;
    width:282px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../卡片-释义动画_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:469px;
    top:392px;
    width:286px;
    height:49px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:55px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:282px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../卡片-释义动画_files/u7_normal.png');
}

.u17_container {
    position:absolute;
    left:469px;
    top:467px;
    width:286px;
    height:49px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:55px;
}

.u18 {
    position:absolute;
    left:2px;
    top:14px;
    width:282px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../卡片-释义动画_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:812px;
    top:167px;
    width:40px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:862px;
    top:178px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../卡片-释义动画_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:782px;
    top:248px;
    width:35px;
    height:35px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:35px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:827px;
    top:258px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../卡片-释义动画_files/u22_normal.png');
}

.u25_container {
    position:absolute;
    left:782px;
    top:323px;
    width:35px;
    height:35px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:35px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:827px;
    top:333px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../卡片-释义动画_files/u22_normal.png');
}

.u28_container {
    position:absolute;
    left:782px;
    top:399px;
    width:35px;
    height:35px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:35px;
}

.u29 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:827px;
    top:409px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../卡片-释义动画_files/u22_normal.png');
}

.u31_container {
    position:absolute;
    left:784px;
    top:474px;
    width:35px;
    height:35px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:35px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:829px;
    top:484px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../卡片-释义动画_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:193px;
    top:77px;
    width:145px;
    height:38px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u35 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../卡片-释义动画_files/u34_normal.png');
}

.u36_container {
    position:absolute;
    left:327px;
    top:77px;
    width:145px;
    height:38px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u37 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../卡片-释义动画_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:467px;
    top:77px;
    width:145px;
    height:38px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u39 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../卡片-释义动画_files/u34_normal.png');
}

.u40_container {
    position:absolute;
    left:604px;
    top:77px;
    width:145px;
    height:38px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u41 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../卡片-释义动画_files/u34_normal.png');
}

.u42_container {
    position:absolute;
    left:746px;
    top:77px;
    width:145px;
    height:38px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u43 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../卡片-释义动画_files/u34_normal.png');
}

.u44_container {
    position:absolute;
    left:885px;
    top:77px;
    width:145px;
    height:38px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u45 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../卡片-释义动画_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:221px;
    top:27px;
    width:31px;
    height:31px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:262px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../卡片-释义动画_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u50 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

