* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="阅读_files/u2_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="阅读_files/u4_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="阅读_files/u6_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="阅读_files/u8_normal.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="阅读_files/u10_normal.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="阅读_files/u10_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="阅读_files/u10_normal.png");
}

