body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:214px;
    top:16px;
    width:331px;
    height:650px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:650px;
}

.u1 {
    position:absolute;
    left:2px;
    top:317px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:235px;
    top:132px;
    width:288px;
    height:430px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:288px;
    height:430px;
}

.u3 {
    position:absolute;
    left:2px;
    top:207px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../设置_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:235px;
    top:132px;
    width:288px;
    height:42px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:48px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:284px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../设置_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:247px;
    top:199px;
    width:261px;
    height:39px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:45px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:257px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../设置_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:247px;
    top:328px;
    width:261px;
    height:135px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:141px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:257px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../设置_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:247px;
    top:478px;
    width:261px;
    height:39px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:45px;
}

.u11 {
    position:absolute;
    left:2px;
    top:13px;
    width:257px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../设置_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:248px;
    top:259px;
    width:261px;
    height:39px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:45px;
}

.u13 {
    position:absolute;
    left:2px;
    top:12px;
    width:257px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../设置_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:247px;
    top:139px;
    width:28px;
    height:28px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:28px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

