body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../卡片-库_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../卡片-库_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../卡片-库_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:912px;
    top:21px;
    width:31px;
    height:31px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:950px;
    top:30px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:566px;
    top:29px;
    width:143px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../卡片-库_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u8 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../卡片-库_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u10 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../卡片-库_files/u9_normal.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u12 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../卡片-库_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u14 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../卡片-库_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u16 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../卡片-库_files/u9_normal.png');
}

.u17_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u18 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../卡片-库_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:747px;
    top:22px;
    width:31px;
    height:31px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:785px;
    top:32px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../卡片-库_files/u9_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:290px;
    width:180px;
    height:56px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u23 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../卡片-库_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:190px;
    top:202px;
    width:844px;
    height:45px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:51px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../卡片-库_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:589px;
    top:202px;
    width:445px;
    height:45px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:451px;
    height:51px;
}

.u27 {
    position:absolute;
    left:2px;
    top:16px;
    width:441px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../卡片-库_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:190px;
    top:247px;
    width:844px;
    height:43px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u29 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:364px;
    top:263px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:717px;
    top:263px;
    width:257px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../卡片-库_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:190px;
    top:202px;
    width:405px;
    height:45px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:411px;
    height:51px;
}

.u33 {
    position:absolute;
    left:2px;
    top:16px;
    width:401px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:228px;
    top:168px;
    width:501px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../卡片-库_files/u28_normal.png');
}

.u35_container {
    position:absolute;
    left:190px;
    top:290px;
    width:844px;
    height:43px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u36 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:364px;
    top:306px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:717px;
    top:306px;
    width:257px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../卡片-库_files/u28_normal.png');
}

.u39_container {
    position:absolute;
    left:190px;
    top:333px;
    width:844px;
    height:43px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u40 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:364px;
    top:349px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:717px;
    top:349px;
    width:277px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../卡片-库_files/u28_normal.png');
}

.u43_container {
    position:absolute;
    left:190px;
    top:376px;
    width:844px;
    height:43px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u44 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:364px;
    top:392px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:717px;
    top:392px;
    width:257px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_line {
    background-image: url('../卡片-库_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u47 {
    position:absolute;
    left:190px;
    top:148px;
    width:844px;
    height:10px;
    
}

.u48 {
    position:absolute;
    left:884px;
    top:169px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../卡片-库_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:360px;
    top:85px;
    width:470px;
    height:38px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:476px;
    height:44px;
}

.u50 {
    position:absolute;
    left:2px;
    top:12px;
    width:466px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../卡片-库_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:849px;
    top:86px;
    width:108px;
    height:37px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:43px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:104px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../卡片-库_files/u9_normal.png');
}

.u53_container {
    position:absolute;
    left:10px;
    top:346px;
    width:180px;
    height:56px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u54 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../卡片-库_files/u9_normal.png');
}

.u55_container {
    position:absolute;
    left:10px;
    top:402px;
    width:180px;
    height:56px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u56 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

