body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../用户-学员详细页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../用户-学员详细页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:270px;
    top:238px;
    width:345px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../用户-学员详细页面_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:270px;
    top:500px;
    width:345px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../用户-学员详细页面_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:270px;
    top:565px;
    width:345px;
    height:45px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u7 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../用户-学员详细页面_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:58px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u9 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../用户-学员详细页面_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:23px;
    top:27px;
    width:31px;
    height:31px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:64px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../用户-学员详细页面_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:893px;
    top:21px;
    width:116px;
    height:39px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:45px;
}

.u14 {
    position:absolute;
    left:2px;
    top:13px;
    width:112px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../用户-学员详细页面_files/u2_normal.png');
}

.u15_container {
    position:absolute;
    left:270px;
    top:304px;
    width:345px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:458px;
    top:30px;
    width:127px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../用户-学员详细页面_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:270px;
    top:369px;
    width:345px;
    height:45px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u19 {
    position:absolute;
    left:2px;
    top:15px;
    width:341px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../用户-学员详细页面_files/u18_normal.png');
}

.u20_container {
    position:absolute;
    left:270px;
    top:434px;
    width:345px;
    height:45px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u21 {
    position:absolute;
    left:2px;
    top:15px;
    width:341px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../用户-学员详细页面_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:23px;
    top:90px;
    width:145px;
    height:38px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../用户-学员详细页面_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:168px;
    top:90px;
    width:145px;
    height:38px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../用户-学员详细页面_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:313px;
    top:90px;
    width:145px;
    height:38px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../用户-学员详细页面_files/u24_normal.png');
}

.u28_container {
    position:absolute;
    left:458px;
    top:90px;
    width:145px;
    height:38px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u29 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../用户-学员详细页面_files/u24_normal.png');
}

.u30_container {
    position:absolute;
    left:603px;
    top:90px;
    width:145px;
    height:38px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u31 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_line {
    background-image: url('../用户-学员详细页面_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1024px;
    height:3px;
}

.u32 {
    position:absolute;
    left:10px;
    top:123px;
    width:1024px;
    height:10px;
    
}

.u33_normal {
    background-image: url('../用户-学员详细页面_files/u2_normal.png');
}

.u33_container {
    position:absolute;
    left:270px;
    top:173px;
    width:345px;
    height:45px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u34 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:638px;
    top:254px;
    width:218px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../用户-学员详细页面_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:334px;
    top:642px;
    width:216px;
    height:43px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:222px;
    height:49px;
}

.u37 {
    position:absolute;
    left:2px;
    top:11px;
    width:212px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:638px;
    top:320px;
    width:218px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:638px;
    top:388px;
    width:218px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:638px;
    top:450px;
    width:218px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

