body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../用户详细页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../用户详细页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../用户详细页面_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u5_normal {
    background-image: url('../用户详细页面_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:405px;
    top:277px;
    width:345px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../用户详细页面_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:405px;
    top:394px;
    width:345px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u8 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../用户详细页面_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:405px;
    top:453px;
    width:345px;
    height:45px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../用户详细页面_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:221px;
    top:27px;
    width:31px;
    height:31px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:262px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../用户详细页面_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:284px;
    top:616px;
    width:150px;
    height:39px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u15 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../用户详细页面_files/u14_normal.png');
}

.u16_container {
    position:absolute;
    left:489px;
    top:616px;
    width:150px;
    height:39px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u17 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../用户详细页面_files/u14_normal.png');
}

.u18_container {
    position:absolute;
    left:695px;
    top:616px;
    width:150px;
    height:39px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u19 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../用户详细页面_files/u5_normal.png');
}

.u20_container {
    position:absolute;
    left:405px;
    top:336px;
    width:345px;
    height:45px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u21 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:548px;
    top:30px;
    width:98px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../用户详细页面_files/u5_normal.png');
}

.u23_container {
    position:absolute;
    left:405px;
    top:219px;
    width:345px;
    height:45px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u24 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../用户详细页面_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:908px;
    top:25px;
    width:31px;
    height:31px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u26 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:946px;
    top:33px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../用户详细页面_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:864px;
    top:104px;
    width:159px;
    height:65px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:71px;
}

.u29 {
    position:absolute;
    left:2px;
    top:22px;
    width:155px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../用户详细页面_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u31 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../用户详细页面_files/u30_normal.png');
}

.u32_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u33 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../用户详细页面_files/u30_normal.png');
}

.u34_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u35 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../用户详细页面_files/u30_normal.png');
}

.u36_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u37 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../用户详细页面_files/u30_normal.png');
}

.u38_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u39 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

