body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../学员-管理列表_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../学员-管理列表_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../学员-管理列表_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:141px;
    width:844px;
    height:10px;
    
}

.u5_normal {
    background-image: url('../学员-管理列表_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:190px;
    top:146px;
    width:844px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../学员-管理列表_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:190px;
    top:146px;
    width:87px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:51px;
}

.u8 {
    position:absolute;
    left:2px;
    top:16px;
    width:83px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../学员-管理列表_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:277px;
    top:146px;
    width:101px;
    height:45px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:51px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:97px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../学员-管理列表_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:478px;
    top:146px;
    width:99px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:95px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../学员-管理列表_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:577px;
    top:146px;
    width:107px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:16px;
    width:103px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../学员-管理列表_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:844px;
    top:146px;
    width:190px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:16px;
    width:186px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../学员-管理列表_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:190px;
    top:191px;
    width:844px;
    height:43px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u18 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:311px;
    top:206px;
    width:61px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:695px;
    top:208px;
    width:147px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:419px;
    top:208px;
    width:18px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:907px;
    top:208px;
    width:98px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../学员-管理列表_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u23 {
    position:absolute;
    left:190px;
    top:590px;
    width:844px;
    height:10px;
    
}

.u24_normal {
    background-image: url('../学员-管理列表_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:237px;
    top:610px;
    width:154px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../学员-管理列表_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:378px;
    top:146px;
    width:100px;
    height:45px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:51px;
}

.u27 {
    position:absolute;
    left:2px;
    top:16px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../学员-管理列表_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:684px;
    top:146px;
    width:160px;
    height:45px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:51px;
}

.u29 {
    position:absolute;
    left:2px;
    top:16px;
    width:156px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:518px;
    top:208px;
    width:18px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:615px;
    top:206px;
    width:39px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../学员-管理列表_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u33 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../学员-管理列表_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u35 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../学员-管理列表_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u37 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../学员-管理列表_files/u32_normal.png');
}

.u38_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u39 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../学员-管理列表_files/u32_normal.png');
}

.u40_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u41 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../学员-管理列表_files/u32_normal.png');
}

.u42_container {
    position:absolute;
    left:10px;
    top:290px;
    width:180px;
    height:56px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u43 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../学员-管理列表_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u44 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u45 {
    position:absolute;
    left:508px;
    top:30px;
    width:127px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../学员-管理列表_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:807px;
    top:86px;
    width:108px;
    height:37px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:43px;
}

.u47 {
    position:absolute;
    left:2px;
    top:12px;
    width:104px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:288px;
    top:290px;
    width:755px;
    height:69px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../学员-管理列表_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:318px;
    top:85px;
    width:470px;
    height:38px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:476px;
    height:44px;
}

.u50 {
    position:absolute;
    left:2px;
    top:12px;
    width:466px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../学员-管理列表_files/u32_normal.png');
}

.u51_container {
    position:absolute;
    left:10px;
    top:346px;
    width:180px;
    height:56px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u52 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../学员-管理列表_files/u32_normal.png');
}

.u53_container {
    position:absolute;
    left:10px;
    top:402px;
    width:180px;
    height:56px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u54 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

