body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../用户-学员学习情况_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../用户-学员学习情况_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:58px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u3 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../用户-学员学习情况_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:125px;
    top:176px;
    width:645px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:651px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:16px;
    width:641px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:508px;
    top:30px;
    width:127px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../用户-学员学习情况_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1024px;
    height:3px;
}

.u7 {
    position:absolute;
    left:10px;
    top:124px;
    width:1024px;
    height:10px;
    
}

.u8_normal {
    background-image: url('../用户-学员学习情况_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:125px;
    top:242px;
    width:645px;
    height:45px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:651px;
    height:51px;
}

.u9 {
    position:absolute;
    left:2px;
    top:16px;
    width:641px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../用户-学员学习情况_files/u4_normal.png');
}

.u10_container {
    position:absolute;
    left:125px;
    top:304px;
    width:645px;
    height:45px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:651px;
    height:51px;
}

.u11 {
    position:absolute;
    left:2px;
    top:16px;
    width:641px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../用户-学员学习情况_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:125px;
    top:489px;
    width:645px;
    height:45px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:651px;
    height:51px;
}

.u13 {
    position:absolute;
    left:2px;
    top:16px;
    width:641px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../用户-学员学习情况_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:125px;
    top:365px;
    width:645px;
    height:45px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:651px;
    height:51px;
}

.u15 {
    position:absolute;
    left:2px;
    top:16px;
    width:641px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../用户-学员学习情况_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:125px;
    top:427px;
    width:645px;
    height:45px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:651px;
    height:51px;
}

.u17 {
    position:absolute;
    left:2px;
    top:16px;
    width:641px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../用户-学员学习情况_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:748px;
    top:190px;
    width:66px;
    height:66px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:66px;
}

.u19 {
    position:absolute;
    left:2px;
    top:25px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../用户-学员学习情况_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:23px;
    top:90px;
    width:145px;
    height:38px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../用户-学员学习情况_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:168px;
    top:90px;
    width:145px;
    height:38px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../用户-学员学习情况_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:313px;
    top:90px;
    width:145px;
    height:38px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../用户-学员学习情况_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:458px;
    top:90px;
    width:145px;
    height:38px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../用户-学员学习情况_files/u24_normal.png');
}

.u28_container {
    position:absolute;
    left:603px;
    top:90px;
    width:145px;
    height:38px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u29 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../用户-学员学习情况_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:23px;
    top:27px;
    width:31px;
    height:31px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:64px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../用户-学员学习情况_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:893px;
    top:21px;
    width:116px;
    height:39px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:45px;
}

.u34 {
    position:absolute;
    left:2px;
    top:13px;
    width:112px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

