body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../反馈管理_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../反馈管理_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:566px;
    top:30px;
    width:92px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../反馈管理_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u5 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u6_normal {
    background-image: url('../反馈管理_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../反馈管理_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u9 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../反馈管理_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u11 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../反馈管理_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u13 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../反馈管理_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u15 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../反馈管理_files/u6_normal.png');
}

.u16_container {
    position:absolute;
    left:10px;
    top:290px;
    width:180px;
    height:56px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u17 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../反馈管理_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:10px;
    top:346px;
    width:180px;
    height:56px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u19 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../反馈管理_files/u6_normal.png');
}

.u20_container {
    position:absolute;
    left:10px;
    top:402px;
    width:180px;
    height:56px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u21 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../反馈管理_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:190px;
    top:66px;
    width:844px;
    height:60px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:66px;
}

.u23 {
    position:absolute;
    left:2px;
    top:22px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../反馈管理_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:190px;
    top:66px;
    width:326px;
    height:45px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:51px;
}

.u25 {
    position:absolute;
    left:2px;
    top:16px;
    width:322px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../反馈管理_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:816px;
    top:66px;
    width:218px;
    height:45px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:51px;
}

.u27 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../反馈管理_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:190px;
    top:111px;
    width:844px;
    height:43px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u29 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:310px;
    top:129px;
    width:226px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:693px;
    top:129px;
    width:115px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:949px;
    top:129px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../反馈管理_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:516px;
    top:66px;
    width:133px;
    height:45px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:51px;
}

.u34 {
    position:absolute;
    left:2px;
    top:16px;
    width:129px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../反馈管理_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:649px;
    top:66px;
    width:170px;
    height:45px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:51px;
}

.u36 {
    position:absolute;
    left:2px;
    top:16px;
    width:166px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:868px;
    top:129px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_line {
    background-image: url('../反馈管理_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:13px;
}

.u38 {
    position:absolute;
    left:917px;
    top:129px;
    width:10px;
    height:13px;
    
}

.u39 {
    position:absolute;
    left:566px;
    top:129px;
    width:61px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../反馈管理_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:190px;
    top:111px;
    width:844px;
    height:43px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u41 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

