body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../用户-管理列表_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../用户-管理列表_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../用户-管理列表_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../用户-管理列表_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u6 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u7_normal {
    background-image: url('../用户-管理列表_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:190px;
    top:146px;
    width:844px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:51px;
}

.u8 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../用户-管理列表_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:190px;
    top:146px;
    width:87px;
    height:45px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:51px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:83px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../用户-管理列表_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:277px;
    top:146px;
    width:162px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:158px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../用户-管理列表_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:439px;
    top:146px;
    width:174px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:16px;
    width:170px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../用户-管理列表_files/u13_normal.png');
}

.u15_container {
    position:absolute;
    left:613px;
    top:146px;
    width:174px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:16px;
    width:170px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../用户-管理列表_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u18 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../用户-管理列表_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:787px;
    top:146px;
    width:247px;
    height:45px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:51px;
}

.u20 {
    position:absolute;
    left:2px;
    top:16px;
    width:243px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../用户-管理列表_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:190px;
    top:191px;
    width:844px;
    height:43px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u22 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:336px;
    top:206px;
    width:61px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:465px;
    top:208px;
    width:164px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:696px;
    top:208px;
    width:18px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:855px;
    top:206px;
    width:125px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../用户-管理列表_files/u17_normal.png');
}

.u27_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u28 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../用户-管理列表_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:911px;
    top:29px;
    width:31px;
    height:31px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:949px;
    top:37px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:508px;
    top:30px;
    width:127px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../用户-管理列表_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u33 {
    position:absolute;
    left:190px;
    top:590px;
    width:844px;
    height:10px;
    
}

.u34_normal {
    background-image: url('../用户-管理列表_files/u17_normal.png');
}

.u34_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u35 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../用户-管理列表_files/u17_normal.png');
}

.u36_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u37 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../用户-管理列表_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:190px;
    top:191px;
    width:844px;
    height:43px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u39 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:307px;
    top:263px;
    width:443px;
    height:138px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../用户-管理列表_files/u17_normal.png');
}

.u41_container {
    position:absolute;
    left:10px;
    top:290px;
    width:180px;
    height:56px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u42 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../用户-管理列表_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:318px;
    top:85px;
    width:470px;
    height:38px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:476px;
    height:44px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:466px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../用户-管理列表_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:807px;
    top:86px;
    width:108px;
    height:37px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:43px;
}

.u46 {
    position:absolute;
    left:2px;
    top:12px;
    width:104px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:213px;
    top:206px;
    width:61px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../用户-管理列表_files/u17_normal.png');
}

.u48_container {
    position:absolute;
    left:10px;
    top:346px;
    width:180px;
    height:56px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u49 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../用户-管理列表_files/u17_normal.png');
}

.u50_container {
    position:absolute;
    left:10px;
    top:402px;
    width:180px;
    height:56px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u51 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

