body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:214px;
    top:16px;
    width:331px;
    height:650px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:650px;
}

.u1 {
    position:absolute;
    left:2px;
    top:317px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../单词学习_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:235px;
    top:132px;
    width:288px;
    height:42px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:48px;
}

.u3 {
    position:absolute;
    left:2px;
    top:13px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../单词学习_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:236px;
    top:174px;
    width:286px;
    height:389px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:395px;
}

.u5 {
    position:absolute;
    left:2px;
    top:186px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:292px;
    top:259px;
    width:175px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:358px;
    top:184px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../单词学习_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:247px;
    top:139px;
    width:55px;
    height:28px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:34px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:603px;
    top:194px;
    width:440px;
    height:248px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../单词学习_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:235px;
    top:521px;
    width:288px;
    height:42px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:48px;
}

.u12 {
    position:absolute;
    left:2px;
    top:13px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:311px;
    top:535px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:365px;
    top:535px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:419px;
    top:535px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:473px;
    top:534px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:247px;
    top:535px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:343px;
    top:141px;
    width:85px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

