body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../学习记录_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../学习记录_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../学习记录_1_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u5 {
    position:absolute;
    left:508px;
    top:30px;
    width:127px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../学习记录_1_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:813px;
    height:3px;
}

.u6 {
    position:absolute;
    left:200px;
    top:124px;
    width:813px;
    height:10px;
    
}

.u7_normal {
    background-image: url('../学习记录_1_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:190px;
    top:152px;
    width:168px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:51px;
}

.u8 {
    position:absolute;
    left:2px;
    top:16px;
    width:164px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../学习记录_1_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:463px;
    top:152px;
    width:83px;
    height:45px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:51px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:79px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../学习记录_1_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:358px;
    top:152px;
    width:105px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:101px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../学习记录_1_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:653px;
    top:152px;
    width:115px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:16px;
    width:111px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../学习记录_1_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:190px;
    top:197px;
    width:844px;
    height:43px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../学习记录_1_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:768px;
    top:152px;
    width:125px;
    height:45px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:51px;
}

.u18 {
    position:absolute;
    left:2px;
    top:16px;
    width:121px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:214px;
    top:211px;
    width:144px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:401px;
    top:211px;
    width:49px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:495px;
    top:211px;
    width:49px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../学习记录_1_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:546px;
    top:152px;
    width:107px;
    height:45px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:51px;
}

.u23 {
    position:absolute;
    left:2px;
    top:16px;
    width:103px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:582px;
    top:211px;
    width:49px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:694px;
    top:211px;
    width:49px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:823px;
    top:211px;
    width:49px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../学习记录_1_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:893px;
    top:152px;
    width:141px;
    height:45px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:51px;
}

.u28 {
    position:absolute;
    left:2px;
    top:16px;
    width:137px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:955px;
    top:211px;
    width:49px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:1052px;
    top:211px;
    width:159px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../学习记录_1_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:233px;
    top:90px;
    width:145px;
    height:38px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u32 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../学习记录_1_files/u31_normal.png');
}

.u33_container {
    position:absolute;
    left:378px;
    top:90px;
    width:145px;
    height:38px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u34 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../学习记录_1_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:523px;
    top:90px;
    width:145px;
    height:38px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u36 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../学习记录_1_files/u31_normal.png');
}

.u37_container {
    position:absolute;
    left:668px;
    top:90px;
    width:145px;
    height:38px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u38 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../学习记录_1_files/u31_normal.png');
}

.u39_container {
    position:absolute;
    left:813px;
    top:90px;
    width:145px;
    height:38px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u40 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../学习记录_1_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:221px;
    top:27px;
    width:31px;
    height:31px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:262px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../学习记录_1_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:190px;
    top:197px;
    width:844px;
    height:43px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u45 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../学习记录_1_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u47 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../学习记录_1_files/u46_normal.png');
}

.u48_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u49 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../学习记录_1_files/u46_normal.png');
}

.u50_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u51 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../学习记录_1_files/u46_normal.png');
}

.u52_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u53 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../学习记录_1_files/u46_normal.png');
}

.u54_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u55 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

