body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../卡片集_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../卡片集_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:68px;
    width:168px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:51px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:164px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../卡片集_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:178px;
    top:68px;
    width:213px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:16px;
    width:209px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../卡片集_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:753px;
    top:68px;
    width:281px;
    height:45px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:287px;
    height:51px;
}

.u7 {
    position:absolute;
    left:2px;
    top:16px;
    width:277px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../卡片集_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:58px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u9 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:850px;
    top:132px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../卡片集_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:888px;
    top:25px;
    width:31px;
    height:31px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:929px;
    top:33px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:449px;
    top:28px;
    width:209px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../卡片集_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:391px;
    top:68px;
    width:205px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:16px;
    width:201px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../卡片集_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:596px;
    top:68px;
    width:157px;
    height:45px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:51px;
}

.u18 {
    position:absolute;
    left:2px;
    top:16px;
    width:153px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../卡片集_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:19px;
    top:27px;
    width:31px;
    height:31px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:60px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:658px;
    top:132px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:488px;
    top:132px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:276px;
    top:132px;
    width:37px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:32px;
    top:132px;
    width:164px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../卡片集_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:113px;
    width:1024px;
    height:58px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u27 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

