body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../扩充卡片集_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../扩充卡片集_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:58px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u3 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:382px;
    top:28px;
    width:283px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../扩充卡片集_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:10px;
    top:68px;
    width:180px;
    height:710px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:716px;
}

.u6 {
    position:absolute;
    left:2px;
    top:347px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../扩充卡片集_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:10px;
    top:170px;
    width:180px;
    height:50px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:56px;
}

.u8 {
    position:absolute;
    left:2px;
    top:17px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../扩充卡片集_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:68px;
    width:180px;
    height:52px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:58px;
}

.u10 {
    position:absolute;
    left:2px;
    top:18px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../扩充卡片集_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:220px;
    width:180px;
    height:48px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:54px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../扩充卡片集_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:10px;
    top:120px;
    width:180px;
    height:50px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:56px;
}

.u14 {
    position:absolute;
    left:2px;
    top:17px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../扩充卡片集_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:190px;
    top:120px;
    width:844px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../扩充卡片集_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:589px;
    top:120px;
    width:445px;
    height:45px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:451px;
    height:51px;
}

.u18 {
    position:absolute;
    left:2px;
    top:16px;
    width:441px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../扩充卡片集_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:190px;
    top:165px;
    width:844px;
    height:43px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u20 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:364px;
    top:181px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:717px;
    top:181px;
    width:257px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../扩充卡片集_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:190px;
    top:120px;
    width:405px;
    height:45px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:411px;
    height:51px;
}

.u24 {
    position:absolute;
    left:2px;
    top:16px;
    width:401px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:228px;
    top:86px;
    width:501px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../扩充卡片集_files/u19_normal.png');
}

.u26_container {
    position:absolute;
    left:190px;
    top:208px;
    width:844px;
    height:43px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u27 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:364px;
    top:224px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:717px;
    top:224px;
    width:257px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../扩充卡片集_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:190px;
    top:251px;
    width:844px;
    height:43px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u31 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:364px;
    top:267px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:717px;
    top:267px;
    width:277px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../扩充卡片集_files/u19_normal.png');
}

.u34_container {
    position:absolute;
    left:190px;
    top:294px;
    width:844px;
    height:43px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u35 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:364px;
    top:310px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:717px;
    top:310px;
    width:257px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../扩充卡片集_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:19px;
    top:27px;
    width:31px;
    height:31px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:60px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:269px;
    top:410px;
    width:705px;
    height:134px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

