body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../课程-修改费用_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../课程-修改费用_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../课程-修改费用_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:111px;
    width:844px;
    height:10px;
    
}

.u5_normal {
    background-image: url('../课程-修改费用_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:190px;
    top:116px;
    width:844px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../课程-修改费用_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:190px;
    top:116px;
    width:87px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:51px;
}

.u8 {
    position:absolute;
    left:2px;
    top:14px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../课程-修改费用_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:277px;
    top:116px;
    width:101px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:97px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../课程-修改费用_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:783px;
    top:116px;
    width:251px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:257px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:16px;
    width:247px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../课程-修改费用_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:190px;
    top:161px;
    width:844px;
    height:43px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:311px;
    top:177px;
    width:61px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:564px;
    top:177px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:858px;
    top:177px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../课程-修改费用_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:919px;
    top:80px;
    width:31px;
    height:31px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u23 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:957px;
    top:88px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:566px;
    top:30px;
    width:143px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../课程-修改费用_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:378px;
    top:116px;
    width:405px;
    height:45px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:411px;
    height:51px;
}

.u27 {
    position:absolute;
    left:2px;
    top:16px;
    width:401px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../课程-修改费用_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:788px;
    top:79px;
    width:31px;
    height:31px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u29 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:826px;
    top:89px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../课程-修改费用_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u31 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u32_normal {
    background-image: url('../课程-修改费用_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:601px;
    top:79px;
    width:35px;
    height:35px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:35px;
}

.u33 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:632px;
    top:88px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:318px;
    top:88px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../课程-修改费用_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:277px;
    top:68px;
    width:56px;
    height:56px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:56px;
}

.u37 {
    position:absolute;
    left:2px;
    top:20px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:200px;
    top:86px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../课程-修改费用_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:300px;
    top:171px;
    width:620px;
    height:371px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:626px;
    height:377px;
}

.u40 {
    position:absolute;
    left:2px;
    top:178px;
    width:616px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../课程-修改费用_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:428px;
    top:278px;
    width:329px;
    height:51px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:335px;
    height:57px;
}

.u42 {
    position:absolute;
    left:2px;
    top:15px;
    width:325px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../课程-修改费用_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:479px;
    top:365px;
    width:227px;
    height:45px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:233px;
    height:51px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:223px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:517px;
    top:204px;
    width:150px;
    height:37px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../课程-修改费用_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:221px;
    top:27px;
    width:31px;
    height:31px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:262px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../课程-修改费用_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:893px;
    top:150px;
    width:48px;
    height:48px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u50 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../课程-修改费用_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u52 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

