body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:214px;
    top:16px;
    width:331px;
    height:650px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:650px;
}

.u1 {
    position:absolute;
    left:2px;
    top:317px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:236px;
    top:132px;
    width:288px;
    height:430px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:288px;
    height:430px;
}

.u3 {
    position:absolute;
    left:2px;
    top:207px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../注册登录_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:268px;
    top:276px;
    width:225px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:221px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../注册登录_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:268px;
    top:333px;
    width:225px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:221px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../注册登录_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:268px;
    top:431px;
    width:225px;
    height:39px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:45px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:221px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:324px;
    top:240px;
    width:110px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:324px;
    top:179px;
    width:110px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:428px;
    top:395px;
    width:74px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../注册登录_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:268px;
    top:494px;
    width:225px;
    height:39px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:45px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

