body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:214px;
    top:16px;
    width:331px;
    height:650px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:650px;
}

.u1 {
    position:absolute;
    left:2px;
    top:317px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../单词学习_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:235px;
    top:132px;
    width:288px;
    height:42px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:48px;
}

.u3 {
    position:absolute;
    left:2px;
    top:13px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../单词学习_1_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:236px;
    top:174px;
    width:286px;
    height:389px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:395px;
}

.u5 {
    position:absolute;
    left:2px;
    top:186px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:292px;
    top:259px;
    width:175px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:358px;
    top:184px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:603px;
    top:194px;
    width:440px;
    height:264px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../单词学习_1_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:235px;
    top:521px;
    width:288px;
    height:42px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:48px;
}

.u10 {
    position:absolute;
    left:2px;
    top:13px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:311px;
    top:535px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:365px;
    top:535px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:419px;
    top:535px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:473px;
    top:534px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:247px;
    top:535px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:345px;
    top:141px;
    width:85px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../单词学习_1_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:477px;
    top:276px;
    width:22px;
    height:24px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:24px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:439px;
    top:153px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../单词学习_1_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:484px;
    top:139px;
    width:31px;
    height:31px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../单词学习_1_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:247px;
    top:139px;
    width:28px;
    height:28px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:28px;
}

.u23 {
    position:absolute;
    left:2px;
    top:6px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

