body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../主页_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../主页_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../主页_1_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../主页_1_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:209px;
    top:28px;
    width:145px;
    height:38px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u7 {
    position:absolute;
    left:2px;
    top:11px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../主页_1_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:354px;
    top:28px;
    width:145px;
    height:38px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u9 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../主页_1_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u10 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../主页_1_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:190px;
    top:66px;
    width:844px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../主页_1_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:190px;
    top:66px;
    width:87px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:14px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../主页_1_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:277px;
    top:66px;
    width:162px;
    height:45px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:51px;
}

.u18 {
    position:absolute;
    left:2px;
    top:16px;
    width:158px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../主页_1_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:439px;
    top:66px;
    width:174px;
    height:45px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:51px;
}

.u20 {
    position:absolute;
    left:2px;
    top:16px;
    width:170px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../主页_1_files/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:613px;
    top:66px;
    width:174px;
    height:45px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:51px;
}

.u22 {
    position:absolute;
    left:2px;
    top:16px;
    width:170px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../主页_1_files/u4_normal.png');
}

.u23_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u24 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../主页_1_files/u19_normal.png');
}

.u25_container {
    position:absolute;
    left:787px;
    top:66px;
    width:174px;
    height:45px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:51px;
}

.u26 {
    position:absolute;
    left:2px;
    top:16px;
    width:170px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

