body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../每日单词学习人数_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../每日单词学习人数_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:68px;
    width:322px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:51px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:318px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../每日单词学习人数_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:332px;
    top:68px;
    width:318px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:324px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:16px;
    width:314px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../每日单词学习人数_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:650px;
    top:68px;
    width:384px;
    height:45px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:51px;
}

.u7 {
    position:absolute;
    left:2px;
    top:16px;
    width:380px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../每日单词学习人数_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:113px;
    width:1024px;
    height:48px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:54px;
}

.u9 {
    position:absolute;
    left:2px;
    top:16px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:143px;
    top:134px;
    width:164px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:468px;
    top:134px;
    width:164px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:819px;
    top:134px;
    width:164px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../每日单词学习人数_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:58px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u14 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:422px;
    top:30px;
    width:163px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../每日单词学习人数_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:18px;
    top:27px;
    width:31px;
    height:31px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:59px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

