body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新增卡片集_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../新增卡片集_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:68px;
    width:168px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:51px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:164px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../新增卡片集_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:178px;
    top:68px;
    width:213px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:16px;
    width:209px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../新增卡片集_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:753px;
    top:68px;
    width:281px;
    height:45px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:287px;
    height:51px;
}

.u7 {
    position:absolute;
    left:2px;
    top:16px;
    width:277px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../新增卡片集_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:113px;
    width:1024px;
    height:58px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u9 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../新增卡片集_files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:58px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u11 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:850px;
    top:132px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../新增卡片集_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:888px;
    top:25px;
    width:31px;
    height:31px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:929px;
    top:33px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:449px;
    top:28px;
    width:209px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../新增卡片集_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:391px;
    top:68px;
    width:205px;
    height:45px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:51px;
}

.u18 {
    position:absolute;
    left:2px;
    top:16px;
    width:201px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../新增卡片集_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:596px;
    top:68px;
    width:157px;
    height:45px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:51px;
}

.u20 {
    position:absolute;
    left:2px;
    top:16px;
    width:153px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../新增卡片集_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:19px;
    top:27px;
    width:31px;
    height:31px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:60px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:658px;
    top:132px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:488px;
    top:132px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:276px;
    top:132px;
    width:37px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../新增卡片集_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:288px;
    top:147px;
    width:465px;
    height:416px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:471px;
    height:422px;
}

.u28 {
    position:absolute;
    left:2px;
    top:200px;
    width:461px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:32px;
    top:132px;
    width:164px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../新增卡片集_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:340px;
    top:288px;
    width:342px;
    height:47px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:348px;
    height:53px;
}

.u31 {
    position:absolute;
    left:2px;
    top:17px;
    width:338px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:416px;
    top:197px;
    width:207px;
    height:37px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../新增卡片集_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:411px;
    top:394px;
    width:216px;
    height:43px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:222px;
    height:49px;
}

.u34 {
    position:absolute;
    left:2px;
    top:11px;
    width:212px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../新增卡片集_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:723px;
    top:123px;
    width:48px;
    height:48px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u36 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

