body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:214px;
    top:16px;
    width:331px;
    height:650px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:650px;
}

.u1 {
    position:absolute;
    left:2px;
    top:317px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../学员快速切换_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:236px;
    top:132px;
    width:288px;
    height:42px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:48px;
}

.u3 {
    position:absolute;
    left:2px;
    top:13px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../学员快速切换_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:236px;
    top:174px;
    width:286px;
    height:389px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:395px;
}

.u5 {
    position:absolute;
    left:2px;
    top:186px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:349px;
    top:140px;
    width:62px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../学员快速切换_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:235px;
    top:521px;
    width:288px;
    height:42px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:48px;
}

.u8 {
    position:absolute;
    left:2px;
    top:13px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../学员快速切换_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:16px;
}

.u9 {
    position:absolute;
    left:292px;
    top:534px;
    width:10px;
    height:16px;
    
}

.u10_line {
    background-image: url('../学员快速切换_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:16px;
}

.u10 {
    position:absolute;
    left:366px;
    top:534px;
    width:10px;
    height:16px;
    
}

.u11_line {
    background-image: url('../学员快速切换_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:16px;
}

.u11 {
    position:absolute;
    left:434px;
    top:534px;
    width:10px;
    height:16px;
    
}

.u12_normal {
    background-image: url('../学员快速切换_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:310px;
    top:208px;
    width:139px;
    height:75px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:81px;
}

.u13 {
    position:absolute;
    left:2px;
    top:28px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../学员快速切换_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:310px;
    top:314px;
    width:139px;
    height:75px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:81px;
}

.u15 {
    position:absolute;
    left:2px;
    top:28px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../学员快速切换_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:310px;
    top:420px;
    width:139px;
    height:75px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:81px;
}

.u17 {
    position:absolute;
    left:2px;
    top:28px;
    width:135px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:439px;
    top:153px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../学员快速切换_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:434px;
    top:174px;
    width:88px;
    height:181px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:187px;
}

.u20 {
    position:absolute;
    left:2px;
    top:82px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:454px;
    top:192px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:454px;
    top:236px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:454px;
    top:280px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:454px;
    top:328px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../学员快速切换_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:83px;
    height:3px;
}

.u25 {
    position:absolute;
    left:439px;
    top:308px;
    width:83px;
    height:10px;
    
}

.u26_line {
    background-image: url('../学员快速切换_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:83px;
    height:3px;
}

.u26 {
    position:absolute;
    left:438px;
    top:260px;
    width:83px;
    height:10px;
    
}

.u27_line {
    background-image: url('../学员快速切换_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:83px;
    height:3px;
}

.u27 {
    position:absolute;
    left:438px;
    top:216px;
    width:83px;
    height:10px;
    
}

.u28 {
    position:absolute;
    left:247px;
    top:534px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:319px;
    top:534px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:388px;
    top:534px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:461px;
    top:534px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../学员快速切换_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:484px;
    top:139px;
    width:31px;
    height:31px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u33 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

