body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../单词详细_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../单词详细_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../单词详细_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:111px;
    width:844px;
    height:10px;
    
}

.u5 {
    position:absolute;
    left:566px;
    top:30px;
    width:92px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../单词详细_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u6 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u7_normal {
    background-image: url('../单词详细_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:221px;
    top:27px;
    width:31px;
    height:31px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:262px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../单词详细_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:193px;
    top:77px;
    width:145px;
    height:38px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u11 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../单词详细_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:327px;
    top:77px;
    width:145px;
    height:38px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u13 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../单词详细_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:467px;
    top:77px;
    width:145px;
    height:38px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../单词详细_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:604px;
    top:77px;
    width:145px;
    height:38px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u17 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../单词详细_files/u12_normal.png');
}

.u18_container {
    position:absolute;
    left:746px;
    top:77px;
    width:145px;
    height:38px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../单词详细_files/u12_normal.png');
}

.u20_container {
    position:absolute;
    left:885px;
    top:77px;
    width:145px;
    height:38px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../单词详细_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:387px;
    top:234px;
    width:381px;
    height:56px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:387px;
    height:62px;
}

.u23 {
    position:absolute;
    left:2px;
    top:18px;
    width:377px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:550px;
    top:190px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../单词详细_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:482px;
    top:372px;
    width:191px;
    height:43px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:49px;
}

.u26 {
    position:absolute;
    left:2px;
    top:14px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:387px;
    top:312px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../单词详细_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u29 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../单词详细_files/u28_normal.png');
}

.u30_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u31 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../单词详细_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u33 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../单词详细_files/u28_normal.png');
}

.u34_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u35 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

