body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../用户-新增用户_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../用户-新增用户_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:58px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u3 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../用户-新增用户_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:19px;
    top:27px;
    width:31px;
    height:31px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:60px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:540px;
    top:32px;
    width:236px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../用户-新增用户_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:408px;
    top:129px;
    width:345px;
    height:45px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u9 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../用户-新增用户_files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:408px;
    top:223px;
    width:345px;
    height:45px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u11 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../用户-新增用户_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:472px;
    top:320px;
    width:216px;
    height:43px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:222px;
    height:49px;
}

.u13 {
    position:absolute;
    left:2px;
    top:11px;
    width:212px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

