body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../充值记录_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../充值记录_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../充值记录_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u5_normal {
    background-image: url('../充值记录_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:399px;
    top:178px;
    width:345px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../充值记录_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u8 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../充值记录_files/u7_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u10 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../充值记录_files/u7_normal.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u12 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../充值记录_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:399px;
    top:437px;
    width:345px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../充值记录_files/u5_normal.png');
}

.u15_container {
    position:absolute;
    left:399px;
    top:502px;
    width:345px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../充值记录_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:221px;
    top:27px;
    width:31px;
    height:31px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:262px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../充值记录_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:291px;
    top:610px;
    width:150px;
    height:39px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u21 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../充值记录_files/u20_normal.png');
}

.u22_container {
    position:absolute;
    left:496px;
    top:610px;
    width:150px;
    height:39px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u23 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../充值记录_files/u20_normal.png');
}

.u24_container {
    position:absolute;
    left:702px;
    top:610px;
    width:150px;
    height:39px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u25 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../充值记录_files/u5_normal.png');
}

.u26_container {
    position:absolute;
    left:399px;
    top:243px;
    width:345px;
    height:45px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u27 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:508px;
    top:30px;
    width:127px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../充值记录_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:399px;
    top:308px;
    width:345px;
    height:45px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u30 {
    position:absolute;
    left:2px;
    top:15px;
    width:341px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../充值记录_files/u29_normal.png');
}

.u31_container {
    position:absolute;
    left:399px;
    top:372px;
    width:345px;
    height:45px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u32 {
    position:absolute;
    left:2px;
    top:15px;
    width:341px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../充值记录_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u34 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../充值记录_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u36 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../充值记录_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:233px;
    top:90px;
    width:145px;
    height:38px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u38 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../充值记录_files/u37_normal.png');
}

.u39_container {
    position:absolute;
    left:378px;
    top:90px;
    width:145px;
    height:38px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u40 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../充值记录_files/u37_normal.png');
}

.u41_container {
    position:absolute;
    left:523px;
    top:90px;
    width:145px;
    height:38px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../充值记录_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:668px;
    top:90px;
    width:145px;
    height:38px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../充值记录_files/u37_normal.png');
}

.u45_container {
    position:absolute;
    left:813px;
    top:90px;
    width:145px;
    height:38px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u46 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_line {
    background-image: url('../充值记录_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:813px;
    height:3px;
}

.u47 {
    position:absolute;
    left:200px;
    top:123px;
    width:813px;
    height:10px;
    
}

