body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../用户密码重置、删除用户_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../用户密码重置、删除用户_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../用户密码重置、删除用户_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u5_normal {
    background-image: url('../用户密码重置、删除用户_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:408px;
    top:110px;
    width:345px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../用户密码重置、删除用户_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:408px;
    top:234px;
    width:345px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u8 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../用户密码重置、删除用户_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:407px;
    top:357px;
    width:345px;
    height:45px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../用户密码重置、删除用户_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:408px;
    top:295px;
    width:345px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../用户密码重置、删除用户_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:221px;
    top:27px;
    width:31px;
    height:31px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:262px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../用户密码重置、删除用户_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:284px;
    top:526px;
    width:150px;
    height:39px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u17 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../用户密码重置、删除用户_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:489px;
    top:526px;
    width:150px;
    height:39px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u19 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../用户密码重置、删除用户_files/u16_normal.png');
}

.u20_container {
    position:absolute;
    left:695px;
    top:526px;
    width:150px;
    height:39px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u21 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../用户密码重置、删除用户_files/u5_normal.png');
}

.u22_container {
    position:absolute;
    left:408px;
    top:172px;
    width:345px;
    height:45px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u23 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:508px;
    top:30px;
    width:127px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../用户密码重置、删除用户_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:304px;
    top:199px;
    width:552px;
    height:408px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:558px;
    height:414px;
}

.u26 {
    position:absolute;
    left:2px;
    top:196px;
    width:548px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../用户密码重置、删除用户_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:436px;
    top:240px;
    width:287px;
    height:140px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:287px;
    height:140px;
}

.u28 {
    position:absolute;
    left:2px;
    top:62px;
    width:283px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:438px;
    top:258px;
    width:276px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:438px;
    top:291px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:474px;
    top:333px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:606px;
    top:333px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../用户密码重置、删除用户_files/u27_normal.png');
}

.u33_container {
    position:absolute;
    left:437px;
    top:402px;
    width:287px;
    height:140px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:287px;
    height:140px;
}

.u34 {
    position:absolute;
    left:2px;
    top:62px;
    width:283px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:439px;
    top:420px;
    width:276px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:439px;
    top:453px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:475px;
    top:495px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:607px;
    top:495px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:437px;
    top:581px;
    width:372px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../用户密码重置、删除用户_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:582px;
    top:322px;
    width:126px;
    height:44px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:50px;
}

.u41 {
    position:absolute;
    left:2px;
    top:14px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../用户密码重置、删除用户_files/u40_normal.png');
}

.u42_container {
    position:absolute;
    left:579px;
    top:479px;
    width:126px;
    height:44px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:50px;
}

.u43 {
    position:absolute;
    left:2px;
    top:14px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../用户密码重置、删除用户_files/u40_normal.png');
}

.u44_container {
    position:absolute;
    left:446px;
    top:320px;
    width:126px;
    height:44px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:50px;
}

.u45 {
    position:absolute;
    left:2px;
    top:14px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../用户密码重置、删除用户_files/u40_normal.png');
}

.u46_container {
    position:absolute;
    left:453px;
    top:482px;
    width:126px;
    height:44px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:50px;
}

.u47 {
    position:absolute;
    left:2px;
    top:14px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../用户密码重置、删除用户_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u49 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../用户密码重置、删除用户_files/u48_normal.png');
}

.u50_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u51 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../用户密码重置、删除用户_files/u48_normal.png');
}

.u52_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u53 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../用户密码重置、删除用户_files/u48_normal.png');
}

.u54_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u55 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../用户密码重置、删除用户_files/u48_normal.png');
}

.u56_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u57 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

