body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新增积分记录_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../新增积分记录_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../新增积分记录_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../新增积分记录_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u6 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u7_normal {
    background-image: url('../新增积分记录_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:190px;
    top:66px;
    width:844px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:51px;
}

.u8 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../新增积分记录_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:190px;
    top:66px;
    width:249px;
    height:45px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:255px;
    height:51px;
}

.u10 {
    position:absolute;
    left:2px;
    top:16px;
    width:245px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../新增积分记录_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:439px;
    top:66px;
    width:174px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:170px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../新增积分记录_files/u4_normal.png');
}

.u13_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u14 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../新增积分记录_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:787px;
    top:66px;
    width:247px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:16px;
    width:243px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../新增积分记录_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:190px;
    top:111px;
    width:844px;
    height:152px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:158px;
}

.u18 {
    position:absolute;
    left:2px;
    top:68px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:514px;
    top:152px;
    width:61px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../新增积分记录_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u21 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:508px;
    top:30px;
    width:127px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../新增积分记录_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u23 {
    position:absolute;
    left:190px;
    top:590px;
    width:844px;
    height:10px;
    
}

.u24_normal {
    background-image: url('../新增积分记录_files/u4_normal.png');
}

.u24_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u25 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../新增积分记录_files/u4_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u27 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:253px;
    top:370px;
    width:443px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../新增积分记录_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:10px;
    top:290px;
    width:180px;
    height:56px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u30 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_container {
    position:absolute;
    left:634px;
    top:130px;
    width:133px;
    height:115px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:133px;
    height:115px;
}

.u32 {
    position:absolute;
    left:2px;
    top:50px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../新增积分记录_files/u11_normal.png');
}

.u33_container {
    position:absolute;
    left:613px;
    top:66px;
    width:174px;
    height:45px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:51px;
}

.u34 {
    position:absolute;
    left:2px;
    top:16px;
    width:170px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:294px;
    top:152px;
    width:61px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:894px;
    top:163px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../新增积分记录_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:340px;
    top:111px;
    width:571px;
    height:533px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:577px;
    height:539px;
}

.u38 {
    position:absolute;
    left:2px;
    top:258px;
    width:567px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../新增积分记录_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:432px;
    top:208px;
    width:341px;
    height:51px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:57px;
}

.u40 {
    position:absolute;
    left:2px;
    top:18px;
    width:337px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../新增积分记录_files/u39_normal.png');
}

.u41_container {
    position:absolute;
    left:432px;
    top:292px;
    width:341px;
    height:51px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:57px;
}

.u42 {
    position:absolute;
    left:2px;
    top:18px;
    width:337px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../新增积分记录_files/u39_normal.png');
}

.u43_container {
    position:absolute;
    left:432px;
    top:377px;
    width:341px;
    height:51px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:57px;
}

.u44 {
    position:absolute;
    left:2px;
    top:18px;
    width:337px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../新增积分记录_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:463px;
    top:465px;
    width:262px;
    height:52px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:268px;
    height:58px;
}

.u46 {
    position:absolute;
    left:2px;
    top:20px;
    width:258px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:519px;
    top:152px;
    width:150px;
    height:37px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../新增积分记录_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:911px;
    top:29px;
    width:31px;
    height:31px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:949px;
    top:37px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../新增积分记录_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:879px;
    top:92px;
    width:48px;
    height:48px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u52 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

