body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../卡片-新增卡片_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../卡片-新增卡片_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:58px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u3 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../卡片-新增卡片_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1024px;
    height:3px;
}

.u4 {
    position:absolute;
    left:10px;
    top:127px;
    width:1024px;
    height:10px;
    
}

.u5 {
    position:absolute;
    left:466px;
    top:30px;
    width:92px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../卡片-新增卡片_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:30px;
    top:27px;
    width:31px;
    height:31px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:71px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../卡片-新增卡片_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:93px;
    width:145px;
    height:38px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../卡片-新增卡片_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:147px;
    top:93px;
    width:145px;
    height:38px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../卡片-新增卡片_files/u11_normal.png');
}

.u13_container {
    position:absolute;
    left:287px;
    top:93px;
    width:145px;
    height:38px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../卡片-新增卡片_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:424px;
    top:93px;
    width:145px;
    height:38px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../卡片-新增卡片_files/u11_normal.png');
}

.u17_container {
    position:absolute;
    left:566px;
    top:93px;
    width:145px;
    height:38px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../卡片-新增卡片_files/u11_normal.png');
}

.u19_container {
    position:absolute;
    left:705px;
    top:93px;
    width:145px;
    height:38px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../卡片-新增卡片_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:387px;
    top:234px;
    width:381px;
    height:56px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:387px;
    height:62px;
}

.u22 {
    position:absolute;
    left:2px;
    top:18px;
    width:377px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:282px;
    top:254px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:387px;
    top:312px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../卡片-新增卡片_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:460px;
    top:383px;
    width:216px;
    height:43px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:222px;
    height:49px;
}

.u26 {
    position:absolute;
    left:2px;
    top:11px;
    width:212px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

