* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u2_normal.png");
}

* html .u4_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u4_line.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u5_normal.png");
}

* html .u8_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u8_line.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u9_normal.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u9_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u9_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u9_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u17_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u17_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u17_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u17_normal.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u25_normal.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u27_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u30_normal.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u30_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u30_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u30_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="软件设置_1_files/u30_normal.png");
}

