body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../用户-详细页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../用户-详细页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:68px;
    width:180px;
    height:710px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:716px;
}

.u3 {
    position:absolute;
    left:2px;
    top:347px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../用户-详细页面_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:405px;
    top:221px;
    width:345px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../用户-详细页面_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:405px;
    top:338px;
    width:345px;
    height:45px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u7 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../用户-详细页面_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:405px;
    top:397px;
    width:345px;
    height:45px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u9 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../用户-详细页面_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:58px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:64px;
}

.u11 {
    position:absolute;
    left:2px;
    top:21px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../用户-详细页面_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:19px;
    top:27px;
    width:31px;
    height:31px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:60px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../用户-详细页面_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:305px;
    top:508px;
    width:150px;
    height:39px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u16 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../用户-详细页面_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:483px;
    top:508px;
    width:150px;
    height:39px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u18 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../用户-详细页面_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:658px;
    top:508px;
    width:150px;
    height:39px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:45px;
}

.u20 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../用户-详细页面_files/u4_normal.png');
}

.u21_container {
    position:absolute;
    left:405px;
    top:280px;
    width:345px;
    height:45px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u22 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:459px;
    top:30px;
    width:98px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../用户-详细页面_files/u4_normal.png');
}

.u24_container {
    position:absolute;
    left:405px;
    top:163px;
    width:345px;
    height:45px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:51px;
}

.u25 {
    position:absolute;
    left:2px;
    top:16px;
    width:341px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../用户-详细页面_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:168px;
    width:180px;
    height:50px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:56px;
}

.u27 {
    position:absolute;
    left:2px;
    top:17px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:239px;
    top:88px;
    width:443px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../用户-详细页面_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:10px;
    top:68px;
    width:180px;
    height:52px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:58px;
}

.u30 {
    position:absolute;
    left:2px;
    top:18px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../用户-详细页面_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:10px;
    top:120px;
    width:180px;
    height:48px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:54px;
}

.u32 {
    position:absolute;
    left:2px;
    top:16px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../用户-详细页面_files/u26_normal.png');
}

.u33_container {
    position:absolute;
    left:10px;
    top:218px;
    width:180px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:56px;
}

.u34 {
    position:absolute;
    left:2px;
    top:17px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

