body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../课程管理_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../课程管理_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../课程管理_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:111px;
    width:844px;
    height:10px;
    
}

.u5_normal {
    background-image: url('../课程管理_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:190px;
    top:116px;
    width:844px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../课程管理_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:190px;
    top:116px;
    width:87px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:51px;
}

.u8 {
    position:absolute;
    left:2px;
    top:14px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../课程管理_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:277px;
    top:116px;
    width:101px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:97px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../课程管理_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:816px;
    top:116px;
    width:218px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../课程管理_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:190px;
    top:161px;
    width:844px;
    height:43px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:311px;
    top:176px;
    width:61px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:664px;
    top:179px;
    width:147px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:426px;
    top:179px;
    width:33px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:881px;
    top:179px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../课程管理_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:919px;
    top:80px;
    width:31px;
    height:31px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:957px;
    top:88px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:219px;
    top:36px;
    width:92px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../课程管理_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:378px;
    top:116px;
    width:112px;
    height:45px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:51px;
}

.u28 {
    position:absolute;
    left:2px;
    top:16px;
    width:108px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../课程管理_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:659px;
    top:116px;
    width:157px;
    height:45px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:51px;
}

.u30 {
    position:absolute;
    left:2px;
    top:16px;
    width:153px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../课程管理_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:788px;
    top:79px;
    width:31px;
    height:31px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u32 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:826px;
    top:89px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_line {
    background-image: url('../课程管理_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u34 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u35_normal {
    background-image: url('../课程管理_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:336px;
    top:27px;
    width:145px;
    height:38px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u36 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../课程管理_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:481px;
    top:27px;
    width:145px;
    height:38px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u38 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../课程管理_files/u35_normal.png');
}

.u39_container {
    position:absolute;
    left:626px;
    top:27px;
    width:145px;
    height:38px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u40 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../课程管理_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:615px;
    top:81px;
    width:35px;
    height:35px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:35px;
}

.u42 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:646px;
    top:90px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../课程管理_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:490px;
    top:116px;
    width:169px;
    height:45px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:51px;
}

.u45 {
    position:absolute;
    left:2px;
    top:16px;
    width:165px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:558px;
    top:179px;
    width:33px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../课程管理_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:430px;
    top:79px;
    width:31px;
    height:31px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:468px;
    top:88px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../课程管理_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u51 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../课程管理_files/u50_normal.png');
}

.u52_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u53 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../课程管理_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u55 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../课程管理_files/u50_normal.png');
}

.u56_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u57 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../课程管理_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:190px;
    top:161px;
    width:844px;
    height:43px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u59 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

