body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../课程-列表_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../课程-列表_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../课程-列表_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u4 {
    position:absolute;
    left:190px;
    top:216px;
    width:844px;
    height:10px;
    
}

.u5_normal {
    background-image: url('../课程-列表_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:190px;
    top:220px;
    width:844px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../课程-列表_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:190px;
    top:220px;
    width:87px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:51px;
}

.u8 {
    position:absolute;
    left:2px;
    top:14px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../课程-列表_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:277px;
    top:220px;
    width:101px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:97px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../课程-列表_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:816px;
    top:220px;
    width:218px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../课程-列表_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:190px;
    top:266px;
    width:844px;
    height:43px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:311px;
    top:280px;
    width:61px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:664px;
    top:284px;
    width:147px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:502px;
    top:280px;
    width:33px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:881px;
    top:284px;
    width:106px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../课程-列表_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:919px;
    top:108px;
    width:31px;
    height:31px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:957px;
    top:116px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:550px;
    top:28px;
    width:92px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../课程-列表_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:378px;
    top:220px;
    width:281px;
    height:45px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:287px;
    height:51px;
}

.u28 {
    position:absolute;
    left:2px;
    top:16px;
    width:277px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../课程-列表_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:659px;
    top:220px;
    width:157px;
    height:45px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:51px;
}

.u30 {
    position:absolute;
    left:2px;
    top:16px;
    width:153px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../课程-列表_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u31 {
    position:absolute;
    left:190px;
    top:142px;
    width:844px;
    height:10px;
    
}

.u32_normal {
    background-image: url('../课程-列表_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:190px;
    top:108px;
    width:145px;
    height:38px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../课程-列表_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:335px;
    top:108px;
    width:145px;
    height:38px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u35 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../课程-列表_files/u34_normal.png');
}

.u36_container {
    position:absolute;
    left:480px;
    top:108px;
    width:145px;
    height:38px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u37 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../课程-列表_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:190px;
    top:266px;
    width:844px;
    height:43px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:850px;
    height:49px;
}

.u39 {
    position:absolute;
    left:2px;
    top:14px;
    width:840px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../课程-列表_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u41 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../课程-列表_files/u40_normal.png');
}

.u42_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u43 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../课程-列表_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u45 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../课程-列表_files/u40_normal.png');
}

.u46_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u47 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../课程-列表_files/u40_normal.png');
}

.u48_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u49 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../课程-列表_files/u40_normal.png');
}

.u50_container {
    position:absolute;
    left:10px;
    top:290px;
    width:180px;
    height:56px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u51 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../课程-列表_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:323px;
    top:162px;
    width:470px;
    height:38px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:476px;
    height:44px;
}

.u53 {
    position:absolute;
    left:2px;
    top:12px;
    width:466px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../课程-列表_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:812px;
    top:163px;
    width:108px;
    height:37px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:43px;
}

.u55 {
    position:absolute;
    left:2px;
    top:12px;
    width:104px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_line {
    background-image: url('../课程-列表_files/u56_line.png');
}

.u56_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u56 {
    position:absolute;
    left:190px;
    top:60px;
    width:844px;
    height:10px;
    
}

.u57_line {
    background-image: url('../课程-列表_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u57 {
    position:absolute;
    left:190px;
    top:590px;
    width:844px;
    height:10px;
    
}

.u58_normal {
    background-image: url('../课程-列表_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:237px;
    top:610px;
    width:154px;
    height:40px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:46px;
}

.u59 {
    position:absolute;
    left:2px;
    top:14px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

