body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../统计_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:774px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../统计_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:566px;
    top:30px;
    width:92px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../统计_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:844px;
    height:3px;
}

.u5 {
    position:absolute;
    left:190px;
    top:61px;
    width:844px;
    height:10px;
    
}

.u6_normal {
    background-image: url('../统计_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:243px;
    top:116px;
    width:367px;
    height:56px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:373px;
    height:62px;
}

.u7 {
    position:absolute;
    left:2px;
    top:20px;
    width:363px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../统计_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:643px;
    top:116px;
    width:367px;
    height:56px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:373px;
    height:62px;
}

.u9 {
    position:absolute;
    left:2px;
    top:20px;
    width:363px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../统计_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:245px;
    top:218px;
    width:765px;
    height:56px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:771px;
    height:62px;
}

.u11 {
    position:absolute;
    left:2px;
    top:20px;
    width:761px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../统计_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:245px;
    top:317px;
    width:765px;
    height:56px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:771px;
    height:62px;
}

.u13 {
    position:absolute;
    left:2px;
    top:20px;
    width:761px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../统计_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:56px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u15 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../统计_files/u14_normal.png');
}

.u16_container {
    position:absolute;
    left:10px;
    top:66px;
    width:180px;
    height:56px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u17 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../统计_files/u14_normal.png');
}

.u18_container {
    position:absolute;
    left:10px;
    top:122px;
    width:180px;
    height:56px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u19 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../统计_files/u14_normal.png');
}

.u20_container {
    position:absolute;
    left:10px;
    top:178px;
    width:180px;
    height:56px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u21 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../统计_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:234px;
    width:180px;
    height:56px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u23 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:245px;
    top:425px;
    width:523px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../统计_files/u14_normal.png');
}

.u25_container {
    position:absolute;
    left:10px;
    top:290px;
    width:180px;
    height:56px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u26 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../统计_files/u14_normal.png');
}

.u27_container {
    position:absolute;
    left:10px;
    top:346px;
    width:180px;
    height:56px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u28 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../统计_files/u14_normal.png');
}

.u29_container {
    position:absolute;
    left:10px;
    top:402px;
    width:180px;
    height:56px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:62px;
}

.u30 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

