body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:592px;
    top:193px;
    width:440px;
    height:174px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_container {
    position:absolute;
    left:214px;
    top:16px;
    width:331px;
    height:650px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:650px;
}

.u2 {
    position:absolute;
    left:2px;
    top:317px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../添加例句_1_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:235px;
    top:132px;
    width:288px;
    height:42px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:48px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:284px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../添加例句_1_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:236px;
    top:174px;
    width:286px;
    height:389px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:395px;
}

.u6 {
    position:absolute;
    left:2px;
    top:186px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../添加例句_1_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:247px;
    top:210px;
    width:267px;
    height:49px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:55px;
}

.u8 {
    position:absolute;
    left:2px;
    top:17px;
    width:263px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../添加例句_1_files/u7_normal.png');
}

.u9_container {
    position:absolute;
    left:247px;
    top:277px;
    width:267px;
    height:49px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:55px;
}

.u10 {
    position:absolute;
    left:2px;
    top:17px;
    width:263px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../添加例句_1_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:247px;
    top:344px;
    width:267px;
    height:49px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:55px;
}

.u12 {
    position:absolute;
    left:2px;
    top:17px;
    width:263px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../添加例句_1_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:459px;
    top:139px;
    width:55px;
    height:28px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:34px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../添加例句_1_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:259px;
    top:354px;
    width:63px;
    height:28px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:34px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:59px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../添加例句_1_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:333px;
    top:354px;
    width:61px;
    height:28px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:34px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:57px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../添加例句_1_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:235px;
    top:174px;
    width:288px;
    height:244px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:250px;
}

.u20 {
    position:absolute;
    left:2px;
    top:114px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../添加例句_1_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:259px;
    top:344px;
    width:109px;
    height:36px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:42px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../添加例句_1_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:247px;
    top:190px;
    width:267px;
    height:136px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:142px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:263px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../添加例句_1_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:394px;
    top:344px;
    width:109px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:105px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../添加例句_1_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:247px;
    top:139px;
    width:28px;
    height:28px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:28px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../添加例句_1_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:235px;
    top:521px;
    width:288px;
    height:42px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:48px;
}

.u30 {
    position:absolute;
    left:2px;
    top:13px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:311px;
    top:535px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:365px;
    top:535px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:419px;
    top:535px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:473px;
    top:534px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:247px;
    top:535px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

